<h1>Hello <%= @user.first_name %> <%= @user.last_name %>!</h1>
<p>Email address: <%= @user.email %></p>
<div>
  <%= render 'items/form' %>
</div>
<h2><%= @user.first_name %>'s Tasks</h2>
<%= render @items %>
